<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:include="layout/layout">
<div class="container-fluid" th:fragment="content">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend>个人信息</legend>
	</fieldset>
	<form>
		<input type="hidden" id="id" name="id" th:value="${user.id}">
		<div class="form-group">
			<label>用户名:</label>
			<input style="width: 420px" th:readonly="readonly" th:value="${user.username}" type="text" id="username" name="username" class="form-control" placeholder="必填项，请输入中文、英文或数字，字数限制在20个字以内">
		</div>
		<div class="form-group">
			<label>密码:</label>
			<input style="width: 420px"  type="password" id="password" name="password" class="form-control" placeholder="必填项，请输入确认密码">
		</div>
		<div class="form-group">
			<label>姓名:</label>
			<input th:readonly="readonly" style="width: 420px" th:value="${user.realname}" type="text" id="realname" name="realname" class="form-control" placeholder="必填项，请输入姓名">
		</div>
		<div class="form-group">
			<input type="button" style="width: 50px" id="addBtn" onclick="addUser()" class="btn btn-primary btn-block " value="更新" />
		</div>
	</form>
	<script>
		function addUser() {
			var id = $("#id").val();
			var username = $("#username").val();
			var password = $("#password").val();
			$.ajax({
				url: '/api/v1/user/updateInfo',
				type: 'post',
				cache: false,
				async: false,
				contentType: 'application/json',
				data: JSON.stringify({
					id: id,
					username: username,
					password: password
				}),
				success: function(data) {
					if (data.meta.success == true) {
						toast("更新成功", "success")
						setTimeout(function () {
							window.location.href="/index";
						}, 700);
						return true;
					} else {
						toast(data.meta.message);
						return false;
					}
				}

			})
		}
	</script>
</div>
</html>
