<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <div th:fragment="menu">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="/index">
                            <i class="glyphicon glyphicon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="/report/list">
                            <i class="glyphicon glyphicon-tags"></i>
                            <span>论文管理</span>
                        </a>
                    </li>
                    <li class="layui-nav-item" shiro:hasRole="管理员">
                        <a href="/group/list">
                            <i class="glyphicon glyphicon-tag"></i>
                            <span>小组管理</span>
                        </a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed" shiro:hasPermission="'report:add'">
                        <a class="" href="javascript:;">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span>论文管理</span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/report/add">上传论文</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="/document/add" shiro:hasAnyRoles="指导老师,答辩组组长">
                            <i class="glyphicon glyphicon-send"></i>
                            <span>任务书上传</span>
                        </a>
                    </li>
                    <li class="layui-nav-item" shiro:hasRole="管理员">
                        <a href="/teacher/list">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>教师管理</span></a>
                    </li>

                    <li class="layui-nav-item" shiro:hasRole="管理员">
                        <a href="/user/list">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>用户管理</span><span class="layui-badge-dot"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</html>