<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:include="layout/layout">
	<div class="container-fluid" th:fragment="content">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>任务书下载</legend>
		</fieldset>
			<table class="table">
				<thead>
				<tr>

					<th>文件名</th>
					<th>上传者</th>
					<th>创建日期</th>
					<th>下载</th>
					<th shiro:hasRole="管理员">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="page : ${list.getRecords()}">
					<td th:text="${page.getFileName()}"></td>
					<td th:text="${page.submitterName}"></td>
					<td th:text="${#dates.format(page.getInTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
					<td>
						<a th:href="${page.getFileUrl()}" class="btn btn-xs">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
						</a>
					</td>
					<td>
						<input shiro:hasPermission="'course:delete'" type="button" style="width: 50px" th:onclick="'javascript:deleteFiles(\''+${page.id}+'\');'" class="btn btn-xs btn-danger" value="删除" />
					</td>
				</tr>
				</tbody>
			</table>
			<ul class="pagination" >
				<li th:class="${list.getCurrent()==1}?'disabled' : ''"><a th:href="${list.getCurrent()==1}?'#' : '/document/list?pageNo=' + ${list.getCurrent()-1}">上一页</a></li>
				<li th:if="${list.getCurrent()-3 >=1}" ><a th:href="'/document/list?pageNo=' + ${list.getCurrent()-3}" th:text="${list.getCurrent() -3}" >1</a></li>
				<li th:if="${list.getCurrent()-2 >=1}" ><a th:href="'/document/list?pageNo=' + ${list.getCurrent()-2}" th:text="${list.getCurrent() -2}" >1</a></li>
				<li th:if="${list.getCurrent()-1 >=1}" ><a th:href="'/document/list?pageNo=' + ${list.getCurrent()-1}" th:text="${list.getCurrent() -1}" >1</a></li>
				<li class="active"><a href="#" th:text="${list.getCurrent()}" >1</a></li>
				<li th:if="${list.getCurrent()+1 <=list.getPages()}" ><a th:href="'/document/list?pageNo=' +  ${list.getCurrent()+1}" th:text="${list.getCurrent() +1}" >1</a></li>
				<li th:if="${list.getCurrent()+2 <=list.getPages()}" ><a th:href="'/document/list?pageNo=' + ${list.getCurrent()+2}" th:text="${list.getCurrent() +2}" >1</a></li>
				<li th:if="${list.getCurrent()+3 <=list.getPages()}" ><a th:href="'/document/list?pageNo=' +  ${list.getCurrent()+3}" th:text="${list.getCurrent() +3}" >1</a></li>
				<li th:class="${list.getCurrent()>=list.getPages()}?'disabled' : ''" ><a th:href="${list.getCurrent()>=list.getPages()}?'#' : '/document/list?pageNo=' +  ${list.getCurrent()+1}">下一页</a></li>
			</ul><br>
			<script>
				function deleteFiles(id) {
					$.ajax({
						url: '/api/v1/document/delete?id='+id,
						type: 'post',
						// cache: false,
						// async: false,
						contentType: 'application/json',
						success: function(data) {
							if (data.meta.success === true) {
								toast("删除成功","success")
								setTimeout(function () {
									window.location.reload();
								}, 700);
								return true;
							} else {
								toast(data.meta.message);
								return false;
							}
						}
					})
				}
			</script>
        </div>
</html>
